body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 34px;
  box-sizing: border-box;
}

.header {
  background-color: #b2d6ff;
  padding: 12px 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

main {
  height: 100vh;
  display: grid;
  align-content: stretch;
  grid-template-rows: auto 1fr;
}

.content {
  background-color: #eaedf0;
  display: grid;
  justify-items: center;
  align-items: center;
  order: -2;

  @media (min-width: 700px) and (max-width: 1249px) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  @media (min-width: 1249px) {
    order: 0;
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

.sign-up {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #d6e8fe;

  @media (max-width: 699px) {
    order: -1;
  }
  @media (min-width: 700px) and (max-width: 1249px) {
    order: -1;
  }
  @media (min-width: 1249px) {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

.first-feature {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f5ce8d;
}

.second-feature {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #c8c6fa;
}

.third-feature {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f09a9d;
}

.wrapper {
  display: grid;
  align-content: stretch;
  grid-template: 2fr 1fr 1fr 1fr 1fr/ 1fr;

  @media (min-width: 700px) and (max-width: 1249px) {
    grid-template: 2fr 1fr 1fr/ 1fr 1fr;
  }
  @media (min-width: 1250px) {
    grid-template: 2fr 1fr 2fr/ 1fr 1fr 1fr;
  }
}
