body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 34px;
  box-sizing: border-box;
}

.header {
  background-color: #b2d6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  background-color: #eaedf0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @media (max-width: 1249px) {
    order: -1;
  }
}

.sign-up {
  background-color: #d6e8fe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  @media (max-width: 699px) {
    width: 100%;
  }
  @media (min-width: 700px) and (max-width: 1249px) {
    width: 50%;
  }
  @media (max-width: 1249px) {
    order: -1;
  }
}

.first-feature {
  background-color: #f5ce8d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @media (max-width: 699px) {
    width: 100%;
  }
  @media (min-width: 700px) and (max-width: 1249px) {
    width: 50%;
  }
  @media (min-width: 1250px) {
    width: 33%;
  }
}

.second-feature {
  background-color: #c8c6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @media (max-width: 699px) {
    width: 100%;
  }
  @media (min-width: 700px) and (max-width: 1249px) {
    width: 50%;
  }
  @media (min-width: 1250px) {
    width: 33%;
  }
}

.third-feature {
  background-color: #f09a9d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @media (max-width: 699px) {
    width: 100%;
  }
  @media (min-width: 700px) and (max-width: 1249px) {
    width: 50%;
  }
  @media (min-width: 1250px) {
    width: 33%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feature-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  @media (max-width: 1249px) {
  }
}

/* @media (max-width: 1250px) {} */
