body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

main {
  text-align: center;
}

.header {
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  font-size: 2em;
  margin: 1.58em 0 1.87em;
  text-align: center;
}

.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.list {
  display: grid;
  padding: 2.0625em;
  gap: 4.125em;
  grid-template-columns: 1fr;

  @media screen and (min-width: 40.063em) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1.5625em;
  padding-bottom: 3.75em;
}

.item-header {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: normal;
}

.item-description {
  font-size: 1.1875em;
  line-height: 1.45;
}

img {
  max-width: 100%;
  width: auto;
}

button {
  background: transparent;
  border: 1px solid #000000;
  margin-bottom: 3.125em;
  padding: 1.25em 5em;
  font-size: 1.1875em;
}
