body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.menu-container {
  background-color: #d2e7f2;
  padding: 0.625em 3.75em;
  position: fixed;
  top: 0;
  right: 0;
  width: 21.25em;
  height: 100vh;
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media (min-width: 46.938em) {
    display: flex;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

a {
  color: #3e3e3e;
  display: block;
  margin: 0;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.25em;
}

.button {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 4em;
  height: 4em;
  padding: 0;

  svg {
    stroke: #000000;
    width: 4em;
    height: 4em;
    transition: stroke 250ms ease-in-out;
  }

  &:hover,
  &:focus {
    svg {
      stroke: rgb(254, 87, 10);
    }
  }
}

.invisible {
  display: none;
}
